# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
terraform-provider-keycloak
terraform-provider-keycloak_*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/
.vscode/
.terraform/
terraform.d/
.terraform.lock.hcl
terraform.tfstate*

# local experiments or reproducers
scratch/

.gradle/

# custom user federation example
custom-user-federation-example/bin
custom-user-federation-example/build
!custom-user-federation-example/build/libs

# docs
site/

# releases
*.zip

# GoReleaser output (artifacts.json, raw binaries, etc. not matched above)
dist/

# Keycloak access token
keycloak_access_token

.DS_Store

# Custom test_env overrides
test_env*.json

# Custom provider_installation mappings
dev.tfrc

# KCADM config folder
.keycloak/

# Locally started Keycloak data
kcdata/
